<!--TODO: fixa hidden on not logged in-->
<md-toolbar md-scroll-shrink [hidden]="loggedIn" style="border: thin; border-color: black;" fxLayoutAlign="center center">
    <b>{{title}}</b>
    <button type="button" md-icon-button>
        <span mdTooltip="Din profil">
            <md-icon>face</md-icon>
        </span>
    </button>
    <button type="button" md-button>
        <span mdTooltip="Ny fångst">
            Ny fångst
        </span>
    </button>
    <button type="button" md-icon-button>
        <span style="text-align:right;" mdTooltip="Logga ut">
            <md-icon>close</md-icon>
        </span>
    </button>
</md-toolbar>

<div class="grid-container">
    <!--<app-brand-view></app-brand-view>-->
    <app-user-view></app-user-view>
</div>