<!--TODO: fixa hidden on not logged in-->
<md-toolbar md-scroll-shrink [hidden]="loggedIn" style="border: thin; border-color: black;" fxLayoutAlign="center center">
    <b style="padding-right:5px;">{{title}}</b>
    <nav>
        <span mdTooltip="Din profil">
            <a routerLink="/user" routerLinkActive="active">
                <md-icon>face</md-icon>
            </a>
        </span>

        <!--TODO: Fixa catch i frontend-->
        <!--<span mdTooltip="Ny fångst">
            <a routerlink="/user">
                <md-icon>add</md-icon>
            </a>
        </span>-->
        <span style="text-align:right;" mdTooltip="Dragmärken">
            <a routerLink="/brands" routerLinkActive="active">
                <md-icon>list</md-icon>
            </a>
        </span>

        <button type="button" (click)="logout()" md-icon-button>
            <span style="text-align:right;" mdTooltip="Logga ut">
                <md-icon>close</md-icon>
            </span>
        </button>
    </nav>
</md-toolbar>

<router-outlet></router-outlet>