.overflow-list {
    overflow: scroll;
    overflow-x: hidden;
    max-height: 400px;
    max-width: 400px;
}

:host /deep/ .mat-list .mat-list-item .mat-list-item-content, .mat-nav-list .mat-list-item .mat-list-item-content {
    height: 35px;
}