<div style="height: 8%;">
    <h2>Dragmärken:</h2>
</div>
<div style="height: 60%; overflow: scroll; overflow-x: hidden; border-bottom: solid;">
    <ul class="list-group">
        <li [class.active]="selectedBrand?.id == brand.id" *ngFor="let brand of brandList" (click)="getBrand(brand)">
            <p>{{brand.name}}</p>
        </li>
    </ul>
</div>
<div *ngIf="selectedBrand != null" style="height:22%; padding-top: 0.2%;">
    <p>Valt märke: <b>{{selectedBrand.name}}</b></p>
    <input type="text" [(ngModel)]="newName" name="newName" placeholder="Nytt namn" />
    <input type="submit" value="Ändra" (click)="updateBrand()" />
</div>