.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.centered-div {
    padding: 0px 0px 0px 0px;
    margin: auto;
    width: 100%;
    max-width: 310px;
    text-align: left;
}
