<h3>Registrera ny användare:</h3>

<div [hidden]="submitted">
    <form name="userForm">
        <div class="row">
            <div class="col-6">
                <md-input-container>
                    <span mdTooltip="2-25 tecken">
                        <input mdInput type="text" [(ngModel)]="firstName" name="firstName" placeholder="Förnamn" maxlength="25" minlength="2">
                    </span>
                </md-input-container>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <md-input-container>
                    <span mdTooltip="2-25 tecken">
                        <input mdInput type="text" [(ngModel)]="lastName" name="lastName" placeholder="Efternamn" maxlength="25" minlength="2">
                    </span>
                </md-input-container>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <md-input-container>
                    <span mdTooltip="4-20 tecken">
                        <input mdInput type="text" [(ngModel)]="username" name="username" placeholder="Användarnamn" maxlength="20" minlength="4">
                    </span>
                </md-input-container>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <md-input-container>
                    <span mdTooltip="4-20 tecken">
                        <input mdInput class="form-control"
                               type="text"
                               [type]="showPassword.checked ? 'text' : 'password'"
                               [(ngModel)]="password"
                               name="password"
                               placeholder="Lösenord (4-20 tecken)"
                               maxlength="20"
                               minlength="4">
                    </span>
                </md-input-container>
                <md-checkbox #showPassword><i class="material-icons">remove_red_eye</i></md-checkbox>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <input type="submit"
                       [disabled]="firstName == null || lastName == null || username == null || password == null || firstName.length < 2 || lastName.length < 2 || username.length < 4 || password.length < 4"
                       name="submit"
                       value="Registrera"
                       (click)="registerUser()" />
            </div>
        </div>
    </form>
</div>