:host /deep/ .mat-checkbox-inner-container{
    visibility: hidden;
    padding-right: 0px;
    height: 0px;
    width: 0px;
    margin-right: 0px;
}

md-input-container {
    width: 90%;
    max-width: 500px;
}