<div fxLayout="column" fxLayoutAlign="center center">
    <h3>Logga in:</h3>
    <form name="loginForm">
        <div>
            <md-input-container class="wideInput">
                <input mdInput
                       type="text"
                       [(ngModel)]="username"
                       name="username"
                       placeholder="Användarnamn" />
            </md-input-container>
        </div>

        <div>
            <md-input-container>
                <input mdInput class="form-control"
                       type="text"
                       [type]="showPassword.checked ? 'text' : 'password'"
                       [(ngModel)]="password"
                       name="password"
                       placeholder="Lösenord" />
            </md-input-container>
            <md-checkbox #showPassword><i class="material-icons">remove_red_eye</i></md-checkbox>
        </div>

        <div>
            <input type="submit"
                   [disabled]="username == null || password == null || username.length < 4 || password.length < 4"
                   name="submit"
                   value="Logga in"
                   (click)="login($event)" />
        </div>
    </form>
    <div>
        <a [routerLink]="['/signup']"><p>Registrera konto här</p></a>
    </div>
</div>