<md-toolbar fxLayoutAlign="center center">
    <nav>
        <a routerLink="/home" class="menu-padding" style="font-size:20px; vertical-align: middle;">
            {{title}}
        </a>
        <span class="menu-padding" *ngIf="!loggedIn()" mdTooltip="Logga in">
            <a routerLink="/login" routerLinkActive="active">
                <md-icon>face</md-icon>
            </a>
        </span>

        <span class="menu-padding" *ngIf="loggedIn()" mdTooltip="Din profil">
            <a (click)="navigateToUser(currentUsername)" routerLinkActive="active">
                <md-icon>face</md-icon>
            </a>
        </span>

        <span class="menu-padding" *ngIf="loggedIn()" mdTooltip="Dragmärken">
            <a routerLink="/brands" routerLinkActive="active">
                <md-icon>list</md-icon>
            </a>
        </span>

        <span class="menu-padding" *ngIf="loggedIn()" mdTooltip="Logga ut">
            <button type="button" (click)="logout()" md-icon-button>
                <md-icon>close</md-icon>
            </button>
        </span>
    </nav>
</md-toolbar>

<router-outlet></router-outlet>