:host /deep/ .mat-icon {
    vertical-align:  middle;
}

:host /deep/ .mat-icon-button {
    height: 24px;
    width: 24px;
}

a {
    text-decoration: none;
}

a:visited{
    color: black;
}

.menu-padding {
    padding-right:3px;
}